body{
    background-color: #e1e9ec;
}


/* -----------------------Original Css users-------------------------- */
.users {
    font-family: "Questrial", sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto
}              

.users td, .users th {
border: 1px solid #ddd;
padding: 8px;
}

.users tr:nth-child(even){
    background-color: #f2f2f2;
}

.users tr:hover {
    background-color: #ddd;
}

.users th {

}

/* ----------------------- Css for Filter? -------------------------- */

.wraper{

}




/* ------------------------Css for teachers info boxes ------------------------- */
#box-container{
    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.ansökningbox{
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 100px;
}