body{
    background-color: ;
}

.users {
    font-family: "Questrial", sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto
}              

.users td, .users th {
border: 1px solid #ddd;
padding: 8px;
}

.users tr:nth-child(even){
    background-color: #f2f2f2;
}

.users tr:hover {
    background-color: #ddd;
}

.users th {

}




/*        <div style = "width: 300px; margin-left: auto; margin-right: auto;">
            <input type ="text" id = "newSchool"></input>
            <button type = "button" onclick = "addSchool()">Lägg tillskola</button>
        <div>
        
*/