

/* -------------------------css for Coursers -------------------------- */


.box-Course, .buttonBoxKur {
  width: 90%;
  height: 14vh;
}

.box-Course h4{
  padding-top: 16px;
}

.box-Course h4, p{
  padding-left: 16px;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }}


  .buttonBoxKur, .buttonBoxKap{
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: auto;
    

  }

  .buttonBoxKur:hover, .buttonBoxKap:hover{

    scale: 1.03;
    box-shadow: 0.2vw 0.2vw 0 #afb5c0;
  }

  /* -------------------------css for Kapitlar -------------------------- */
  .box , .box-Course, .buttonBoxKur, .buttonBoxKap{
    
    transform: translate(0%,0%);
    padding-top: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }
  
  #box-container {
    margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;align-items: center;
  max-width: calc(100% - 15%);; /* Justera maxbredden efter behov */
  width:auto;
  box-sizing: border-box;
}


.box, .buttonBoxKap{
  width: 100%;
  height: 20vh;
  padding: 20px;
}

.box , .box-Course {
  background: linear-gradient(45deg,#446FC8, #6f36da, #E96D74);
  background-size: 400% 400%;
  box-shadow: 2vw 5vw 0 #E96D74;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}


.box:hover, .box-Course:hover{

  animation: gradient 10s ease infinite;
    scale: 1.03;
    box-shadow: 0.2vw 0.2vw 0 #F59191;
}



@media (max-width: 1200px) {
  #box-container {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
 
}

.hidden {
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button-container button i{
  margin:16px;
}

.rounded-button {
  background-color: #E96D74;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
}

.sidebarScroll{
  margin-top: -17.5rem;
}

.course-title{
  color: white;
  background-color: #4A48AF;
  text-align: left;
  height:17rem;
  margin-top: 4.5rem;
}
.course-title .container{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:left;
  padding-top:50px;
}
.course-title .container p, .course-title .container h1{
  padding:16px;
  width: 100%;
}

.course-title .container h1{
  border-bottom: 2px solid white;
  font-weight: bold;

}



/* ----------------------------Plus button--------------------------- */

  .circular-button {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color:#b4b4b4;
    margin: auto;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
transition: all 0.3s ease;
color: white;
font-size: 3rem;
  }
