
#box-container {
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;align-items: center;
  max-width: calc(100% - 15%);; /* Justera maxbredden efter behov */
  width:auto;
  box-sizing: border-box;
}

.box {
  transform: translate(0%,0%);
  padding-top: 30px;
  border-radius: 15px;
  margin-bottom: 20px;

  border: none;
  outline: none;
  background: linear-gradient(45deg,#446FC8, #6f36da, #E96D74);
  background-size: 400% 400%;
  box-shadow: 2vw 5vw 0 #E96D74;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #fff;
  width: 100%;
  height: 20vh;
  transition: all 0.3s ease;
}
.box:hover{

  animation: gradient 10s ease infinite;
    scale: 1.03;
    box-shadow: 0.2vw 0.2vw 0 #F59191;
}
@media (max-width: 1200px) {
  #box-container {
    margin-left: 0;
    max-width: 100%;
  }
}


@media (max-width: 768px) {
 
}

.hidden {
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button-container button i{
  margin:16px;
}

.rounded-button {
  background-color: #E96D74;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
}

.sidebarScroll{
  margin-top: -17.5rem;
}

.course-title{
  color: white;
  background-color: #4A48AF;
  text-align: left;
  height:17rem;
  margin-top: 4.5rem;
}
.course-title .container{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:left;
  padding-top:50px;
}
.course-title .container p, .course-title .container h1{
  padding:16px;
  width: 100%;
}

.course-title .container h1{
  border-bottom: 2px solid white;
  font-weight: bold;

}


/* -------------------------css for Coursers -------------------------- */


.boxCourse {




  transform: translate(0%,0%);
  color: #e8e8e8;
  border: none;
  outline: none;
  background: linear-gradient(45deg,#446FC8, #6f36da, #E96D74);
  background-size: 400% 400%;
  box-shadow: 2vw 5vw 0 #E96D74;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  width: 80%;
  height: 14vh;

}
.boxCourse:hover {


  animation: gradient 10s ease infinite;
    scale: 1.03;
    box-shadow: 0.2vw 0.2vw 0 #F59191;
  
  /* background: linear-gradient(to bottom, #446FC8 10%, #F59191 90%);
  transform: scale(1.075);
  cursor: pointer;
  color: #fff;
  text-decoration: none; */
}

.boxCourse h4{
  padding: 16px;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }}

  .circular-button {
    width: 70px;
    text-align: center;
    height: 70px;
    border-radius: 50%;
    background-color:#b4b4b4;
    position: relative;
    margin: auto;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 2vh;
margin-bottom: 5vh;
transition: all 0.3s ease;

  }

  .circular-button::before,
  .circular-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  .circular-button::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .circular-button:hover {
    background-color: #0056b3;
  }