
#myNavbar{
  position:relative !important;
}
#box-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Justera maxbredden efter behov */
  width: 100%;
  box-sizing: border-box;
}

.box {
  padding-top: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #446FC8 90%, #F59191 10%);
  padding: 20px;
  color: #fff;
  width: 100%;
  height: 175px;
  transition:all 0.5s ease-in-out;
}
.box:hover{
  background: linear-gradient(to bottom, #446FC8 10%, #F59191 90%);
  transform: scale(1.075);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1920px) {
  .box {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .box {
    height: 100px;
  }
}

.hidden {
  display: none;
}

.button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.rounded-button {
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 45%;
}

.course-title{
  color: white;
  background-color: #4A48AF;
  text-align: left;
  margin-bottom: 20px;
  height:20vh;
}
.course-title .container{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:left;
  padding-top:50px;
}
.course-title .container p, .course-title .container h1{
  padding:16px;
  width: 100%;
}

.course-title .container h1{
  border-bottom: 2px solid white;
  font-weight: bold;

}