/*Css to backgroundimage and color*/
#logInSignInBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
}
.backButton {
  top: 10%;
}
/*Css to the "<" button*/
.goBackBtn {
  margin-top: 1%;
  margin-left: 1%;
  border: none;
  border-radius: 5px;
  color: var(--btn-primary-bg);
  font-size: 30px;
  text-wrap: nowrap;
  background: none;
  cursor: pointer;
}
.goBackBtn:hover {
  text-decoration: underline;
}

.loginHeader {
  font-weight: bolder;
  color: #3d21bbde;
  font-size: 4em;
}

/*Css to the form including lables and inputboxes for both email and password*/
form {
  padding-top: 5%;
  width: 500px;
  background-color: #3d21bbde;
  border-radius: 10px;
  padding-bottom: 5%;
}

/*Css to the email inputbox*/
#email {
  border: solid 2px white;
  border-radius: 2px;
  width: 250px;
}

#school {
  width: 250px;
  border-radius: 2px;
  border: solid 2px white;
  height: 10%;
  margin-top: 4%;
}

/*Css to the password inputbox*/
#password {
  width: 250px;
  border: solid 2px white;
  border-radius: 2px;
}
/*Css to the lable over password inputbox*/
#labelForPassword {
  color: white;
  margin-top: 5%;
  margin-right: 180px;
}

/*Css to the lable over email inputbox*/
#labelForEmail {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}

#labelForName {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}
#labelForSchool {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}

#name {
  border: solid 2px white;
  border-radius: 2px;
  width: 250px;
}

#myPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Css to the "Logga in" and "Registrera" button*/
#submit {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 250px;
  background-color: white;
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
}

/*Css to the link "Glömt lösenord"*/
.noticeLink {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.noticeLink:hover {
  text-decoration: underline;
}
