/*Css to backgroundimage and color*/
#logInSignInBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(#446fc8, #fffbef);
}
.backButton {
  top: 10%;
}
/*Css to the "<" button*/
#goBack {
  margin-top: 1%;
  margin-left: 1%;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

/*Css to the form including lables and inputboxes for both email and password*/
form {
  padding-top: 5%;
  width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding-bottom: 5%;
}

/*Css to the email inputbox*/
#email {
  border: solid 2px white;
  border-radius: 2px;
  width: 250px;
}

#school {
  width: 250px;
  border-radius: 2px;
  border: solid 2px white;
  height: 10%;
  margin-top: 4%;
}

/*Css to the password inputbox*/
#password {
  width: 250px;
  border: solid 2px white;
  border-radius: 2px;
}
/*Css to the lable over password inputbox*/
#labelForPassword {
  color: white;
  margin-top: 5%;
  margin-right: 180px;
}

/*Css to the lable over email inputbox*/
#labelForEmail {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}

#labelForName {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}
#labelForSchool {
  margin-top: 5%;
  margin-right: 210px;
  color: white;
}

#name {
  border: solid 2px white;
  border-radius: 2px;
  width: 250px;
}

#myPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Css to the "Logga in" and "Registrera" button*/
#submit {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 250px;
  background-color: white;
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
}

/*Css to the link "Glömt lösenord"*/
#forgotPassword {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
