@charset "utf-8";
:root{
    --background-color: #fffbef;
    --font-color-black:rgb(46, 46, 46);
    --font-color-white: rgb(243, 74, 74);
    --btn-primary-bg:#3d21bbde;
}

body{
    font-family: 'Questrial', sans-serif;
    font-family: 'Raleway', sans-serif;

    background-color: var(--background-color);

    overflow-x: hidden;
    color: #fff;
}



/*Css to the links on index page*/
a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}


/*-----------------------Css to the header on index page------------------------------------*/
header{
    position:relative;
    z-index: 10;
    padding-top: 0%;

 
}
/*------------------------Css to the navbar on index page--------------------------------*/
.navbarBG {
    background-image: linear-gradient(#d7d7d73a, rgba(255, 255, 255, 0));
    transition: 0.3s ease;
}

.navbarBG .nav-link{
    color: #d3d3d3;
}

.navbarBGscroll{
    background: #ffffff; 
    transition: 0.3s ease;
}

.navbarBGscroll .nav-link{
    color: #000000;
}

.navbar a {
    font-size: 1.2rem;
}

.navbar a:hover {
    border-bottom: 2px solid #FED979;
}

.navbar-toggler {
	color: #FED979;
}

.navbar .dropdown-menu {
    margin: 0px;
    box-shadow: 0px 2px 10px black; /* Remove if it looks better.*/
    background-color: #eef2f7;
    border: none;
    user-select: none;
    z-index: 10;
}

.navbar-brand{
    margin-left: 1rem;
}

.navbarmiddle{
    padding-left: 20vw;
}

.navbarright{
    padding-right: 3vw;
}
/*
.dropdown-menu{
    position: fixed;
    overflow-x: visible;
    overflow-y: auto;
    padding-top: 1rem;
    max-height: 200px !important;
}*/

/* .dropCourses{
    position: fixed;
    overflow-y: scroll;
    overflow-x: visible !important;
    padding-top: 1rem;
    max-height: 200px !important;
    z-index: 5;
} */



.menu ul {
    all: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent; /* Set the background color to transparent */
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 10px;
}

/* Style the submenus */
.menu ul li ul {
    position: absolute;
    display: none;
    flex-direction: column;
}

.menu ul ul li {
    width: max-content;
    min-width: 100%;
    max-width: 200px;
}

.menu ul a {
    all: unset;
    color: #000000;
    cursor: pointer;
}

.menu ul a:hover {
    background: rgba(240, 248, 255, 0.877);
}

.menu ul li:hover > ul {
    display: flex;
}

.menu ul ul ul {
    top: 0;
    left: 100%;
}











.dropSchools{
    position: absolute;
    z-index: 10;
}

.dropdown-menu::-webkit-scrollbar{
    display: none;
}

.dropdown-menu ul{
    list-style: none;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.dropdown-item{
    padding-left: 1rem !important;
}

.dropdown:hover>.dropdown-menu {
    display: block !important;
}

.dropdown1:hover>.dropdown-menu {
    display: block !important;
    top: 0;
    left: 100%; /* Använd 100% för att placera dropdown-menu till höger om dropdown-knappen */
    margin-top: 0; /* Justera om det behövs */
}

.navbar .dropdown-menu a:hover {
    color: #000 !important;
    background-color: #FED979;
}




/*Bootstrap Mobile Gutter Fix*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }
    


#headerSection img{
    width: 100%;
    height: 75vh;
    object-fit: cover;

}

#headerSection div h1{
    background-color:var(--btn-primary-bg);
    font-size:64px;
    padding:60px;
    border-radius:10px;
}
#headerSection div h2{
    width: 40%;
    font-size:36px; 
}




/*Css that fixes site when max width is 768px*/
@media (max-width: 767px){
    .navbarright{
        width: 100%;
        padding-right: 0;
        padding-left: 1rem;
    }
    .navbarmiddle{
        padding-left: 1rem;
    }
}

@media (max-width: 991px) {
	.card {
		margin-top: 20px;
	}

	.page-footer ul li, .text {
		text-align: center;
	}

}


/*------------ Vi har ingen recomended del på sida så jag tar bort det for now ------------*/

/*Css to the cards with recommended and popular courses*/
/* .card {
	width: 300px;
	background-color: var(--background-color);
	border-color: #fff;
	border-radius: 4px;
	border-width: 4px;
	box-shadow: 0 6px 10px black;
    color:var(--font-color-black); */
	/* this makes the card transition smoother */
	/* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  	cursor: pointer;
} */

/* .card:hover{
    transform: scale(1.05); 
  	box-shadow: 0 10px 20px black;
} */

/*Css to the background of the cardsection*/







/*---------------------Css to all paragraphs------------------*/

.WhatBaseCampFor{
    
    background-image: linear-gradient(
        135deg,
        hsl(254deg 70% 57%) 0%,
        hsl(254deg 69% 56%) 9%,
        hsl(253deg 69% 55%) 19%,
        hsl(252deg 69% 54%) 30%,
        hsl(251deg 69% 52%) 42%,
        hsl(250deg 69% 51%) 54%,
        hsl(248deg 70% 49%) 66%,
        hsl(246deg 75% 48%) 78%,
        hsl(244deg 80% 46%) 89%,
        hsl(239deg 88% 44%) 100%
      );
    padding-block: 20vh;
}
.vertical {
    border-left: 3px solid rgb(255, 255, 255);
    height: 40vh;
    position: absolute;
    left: 50%;
    margin-top: -10vh;
}

#text{

  color:#f0d397;
  font-size: 4em;
  
}


.aboutBaseCamp{
    width: 100%;
    
  
}
.aboutBaseCamp .info{
    background-color:white;
    color:var(--font-color-black);
    font-size:18px;
    border-radius: 15px;
}
.aboutBaseCamp .info h2{
    color:#446FC8;
    font-size:2em;
}
.aboutBaseCamp .info p{
    color:var(--font-color-black);
}
.aboutBaseCamp{
    width: 100%;
 
}
.aboutBaseCamp .info{
    background-color:white;
    color:var(--font-color-black);
    font-size:18px;
}
.aboutBaseCamp .info h2{
    color:#446FC8;
    font-size:2em;
}
.aboutBaseCamp .info p{
    color:var(--font-color-black);
}
    



@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}





    /*---------------------------Some Css for the footer----------------------*/
    .page-footer {
        background-color: #181515;
        color: white;
    }
    .page-footer a:hover {
        border-bottom: 2px solid #FED979;
    }
    .page-footer ul li, .text {
        
        line-height: 20px;
    }
    /* .page-footer .footerCenteredText {
        margin: 0px auto;
        width: 50%;
    }
    
    .justify_text{
        text-align:justify;
    } */
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    } 
    
    @media (max-width: 1024px) {
        .caption h1 {
            font-size: 1.4rem;
            letter-spacing: .15rem;
        }
        .caption h3 {
            font-size: 1.1em;
        }
        
        .col-sm-6 {
            text-align: center!important;
        }
    }
    
    /*Does not work, could be because "Display: ? ;"*/
    @keyframes slideLeft {
        from {
            left: -1000px;
        }
    
        to {
            left: 100%;
        }
    }
    
    @keyframes slide {
        from { 
            top: -500px; 
                /* This should be based on the height of navbar dropdown*/
        }
        
        to {
            top: 100%;
        }
    }
    
    
