.box {
  padding-top: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #446FC8 90%, #F59191 10%);
  padding: 20px;
  color: #fff;
  height: 200px;
}

.container {
  margin-top: 50px;
}

@media (max-width: 1920px) {
  .box {
    height: 150px;
  }
}

.hidden {
  display: none;
}

.button-container {
  position: fixed;
  top: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.rounded-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}
