*{
    outline: 1px solid red;
}

body{
    background-color: #F9F1D4;
}

.sideBar{
    position: fixed;
    width: 15%;
    background-color: #F9F1D4;
    height: 95vh;
    overflow: auto;
    margin-top: 5vh;
    border-right: solid;
}

.sideBar h1{
    color: #E291A9; 
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.sideBar ul{
    list-style: none;
    padding-left: 3rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: black;
}

.showlinks{
    background: none;
    border: none;
    color: #E291A9;
    margin-left: 1rem;
}

.showsideBtn{
    display: none;
    position: absolute;
    margin-top: 10vh;
}

.showsideBtnToggle{
    margin-left: 60%;
}

@media (max-width: 1500px){
    .sideBar{
        display: none;
        width: 60%;
    }

    .showsidebar{
        display: block;
    }
    
    .showsideBtn{
        display: block;
    }
}