body {
        padding-top: 500px;
      }
      
      .box {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to bottom, #446FC8 90%, #F59191 10%);
        padding: 100px;
      }
      
      .container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      
      @media (max-width: 1920px) {
        .box {
          height: 300px;
        }
      }
      
      .hidden {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      
      .visible {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      